#cuadrado{
    width: 2cm;
    height: 2cm;
    background-color: rgb(189, 219, 155);
}
#cuadrado2{
    width: 2cm;
    height: 2cm;
    background-color: rgb(209, 219, 155);
}
body{
    background-color: linen;
}
#botones{
    margin-top: 60%;
}